@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,700&display=swap');

:root{
    --background: rgb(253, 251, 247);
}

.detail{
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    /* font-size: 150%; */
}

.detail img{
    max-width: 390px;
    width: 100%;
    margin: 20px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.box-detail{
    max-width: 390px;
    width: 100%;
    margin: 20px 20px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: uppercase;
    color: rgb(0, 54, 100);
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.box-detail span{
    line-height: 47px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.box-detail select{
    border-radius: 5px;
    width: 20%;
    text-align: center;
    height: 30px;
    background-color: wheat;
    display: block;
}

.box-detail .select-size{
    font-family: 'Montserrat Alternates', sans-serif;
}

.box-detail option{
    border-radius: 10px;
}

.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}


.box-detail .cart{
    color: white;
    margin-top: 30px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    background: #555;
    border-radius: 25px;
}

.box-detail .cart:hover{
    background: #323232;
}

.related{
    background-color: var(--background);
}

.related .divide{
    height: 5px;
    width: 80%;
    margin: 10px 20px;
    background-color: red;
}

.related .products {
    margin-left: 10px;
    display: flex;
    justify-content: space-around
}

.related h2{
    color: rgb(0, 54, 100);
    font-size: 20px;
}